
__pycache__/Design.cpython-38.pyc
__pycache__/Functions.cpython-38.pyc
Configs.bak
Configs.dat
Configs.dir
__pycache__/Functions.cpython-38.pyc
__pycache__/Design.cpython-38.pyc
__pycache__/Design.cpython-38.pyc
__pycache__/Functions.cpython-38.pyc
Configs.bak
Configs.dat
Configs.dir
__pycache__/Design.cpython-38.pyc
